page-home {}

.home-header {
    background-color: #0079c1;
    padding: 0px;
    width: 100%;
    min-height: 90px;
    text-align: center;
    max-height: 150px;
}

.home-header img {
    max-width: 215px;
    margin-left: -15px;
    padding-top: 10px;
}

.home-header h1 {
    color: white;
    font-size: large;
    text-align: left;
    position: relative;
    padding-left: 16px;
    margin-bottom: 2px;
    font-weight: bolder;
    margin-top: 10px;
}

.home-header h2 {
    color: white;
    font-size: medium;
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 3px;
}

.home-header-text {}

.row {
    padding: 0px;
    width: 100%;
    min-height: 90px;
    text-align: center;
    max-height: 150px;
}

.row img {
    max-width: 215px;
    margin-left: -15px;
    padding-top: 10px;
    margin-bottom: 20px;
}